In [1]:
import pandas as pd
import numpy as np

In [2]:
covid19_df = pd.read_csv("COVID19.csv")

In [3]:
covid19_df

,date,location,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
0,2020-02-24,Afghanistan,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,Afghanistan,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,Afghanistan,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,Afghanistan,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,Afghanistan,0.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
73721,2021-03-10,Zimbabwe,20.0,0.0,36341.0,1489.0,162.0,11.0,381.0,33.0
73722,2021-03-11,Zimbabwe,36.0,3.0,36377.0,1492.0,154.0,9.0,383.0,34.0
73723,2021-03-12,Zimbabwe,46.0,4.0,36423.0,1496.0,175.0,12.0,379.0,33.0
73724,2021-03-13,Zimbabwe,48.0,5.0,36471.0,1501.0,211.0,16.0,413.0,38.0
73725,2021-03-14,Zimbabwe,13.0,2.0,36484.0,1503.0,213.0,18.0,395.0,40.0

In [5]:
covid19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73726 entries, 0 to 73725
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             73726 non-null  object
 1   location         73726 non-null  object
 2   new_cases        73717 non-null  float64
 3   new_deaths       64648 non-null  float64
 4   total_cases      73719 non-null  float64
 5   total_deaths     64490 non-null  float64
 6   weekly_cases     72716 non-null  float64
 7   weekly_deaths    72716 non-null  float64
 8   biweekly_cases   71323 non-null  float64
 9   biweekly_deaths  71323 non-null  float64
dtypes: float64(8), object(2)
memory usage: 5.6+ MB

In [6]:
covid19_df.describe()

,new_cases,new_deaths,total_cases,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths
count,73717.000000,64648.000000,7.371900e+04,6.449000e+04,7.271600e+04,72716.000000,7.132300e+04,71323.000000
mean,5172.018286,132.052082,6.552546e+05,1.937680e+04,3.628425e+04,814.081220,7.305211e+04,1640.785665
std,32304.463913,723.035537,4.603780e+06,1.134412e+05,2.240899e+05,4627.067406,4.492332e+05,9270.537149
min,-74347.000000,-1918.000000,1.000000e+00,1.000000e+00,-4.356100e+04,-1625.000000,-4.849000e+03,-1616.000000
25%,2.000000,0.000000,7.210000e+02,3.800000e+01,4.200000e+01,0.000000,9.700000e+01,1.000000
50%,59.000000,2.000000,8.135000e+03,2.530000e+02,5.060000e+02,7.000000,1.067000e+03,16.000000
75%,675.000000,16.000000,8.748250e+04,2.409750e+03,4.908000e+03,86.000000,9.917000e+03,177.000000
max,880902.000000,17895.000000,1.198752e+08,2.653652e+06,5.176951e+06,100968.000000,9.880398e+06,197872.000000

In [7]:
# Checking null values
covid19_df.isnull().sum()

date                  0
location              0
new_cases             9
new_deaths         9078
total_cases           7
total_deaths       9236
weekly_cases       1010
weekly_deaths      1010
biweekly_cases     2403
biweekly_deaths    2403
dtype: int64

In [8]:
# Removing null values
covid19_df["new_cases"].fillna(0, inplace=True)
covid19_df["new_deaths"].fillna(0, inplace=True)
covid19_df["total_cases"].fillna(0, inplace=True)
covid19_df["total_deaths"].fillna(0, inplace=True)
covid19_df["weekly_cases"].fillna(0, inplace=True)
covid19_df["weekly_deaths"].fillna(0, inplace=True)
covid19_df["biweekly_cases"].fillna(0, inplace=True)
covid19_df["biweekly_deaths"].fillna(0, inplace=True)

In [9]:
# Checking again
covid19_df.isnull().sum()

date               0
location           0
new_cases          0
new_deaths         0
total_cases        0
total_deaths       0
weekly_cases       0
weekly_deaths      0
biweekly_cases     0
biweekly_deaths    0
dtype: int64

In [10]:
# Type Check
covid19_df["new_cases"].dtypes
covid19_df["new_deaths"].dtypes
covid19_df["total_cases"].dtypes
covid19_df["total_deaths"].dtypes
covid19_df["weekly_cases"].dtypes
covid19_df["weekly_deaths"].dtypes
covid19_df["biweekly_cases"].dtypes
covid19_df["biweekly_deaths"].dtypes

dtype('float64')

In [ ]:
# Set types into integer